@page
@model ReastEstateWebApp.Pages.Properties.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Property</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Property.Id"/>
            <div class="form-group">
                <label asp-for="Property.Name" class="control-label">Property name</label>
                <input asp-for="Property.Name" class="form-control"/>
                <span asp-validation-for="Property.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Description" class="control-label">Property description</label>
                <textarea asp-for="Property.Description" class="form-control"></textarea>
                <span asp-validation-for="Property.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Price" class="control-label">Property price</label>
                <input asp-for="Property.Price" class="form-control"/>
                <span asp-validation-for="Property.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyStatus.PropertyType" class="control-label">Property status</label>
                <select asp-for="PropertyStatus.PropertyType" class="form-control" asp-items="ViewBag.PropertyStatus">
                </select>
                <span asp-validation-for="PropertyStatus.PropertyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.AgentId" class="control-label">Agent's name</label>
                <select asp-for="Property.AgentId" class="form-control" asp-items="ViewBag.AgentId">
                </select>
                <span asp-validation-for="Property.AgentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}